<template>
  <div>
    <router-view></router-view>
    <button 
      class="add_tournament_button"
      @click="ifTournamentModalOpened = !ifTournamentModalOpened"
    >
      Add tournament
    </button>
    <table
      class="table_class"
    >
     <TournamentsListHeaderComponent 
      class="tournaments_container"
     /> 
    <TournamentsListComponent 
      v-for="tournament in tournaments"
      :key="tournament.id"
      :tournament="tournament"
      class="tournaments_list"
    />
    </table>
    <AddTournamentComponent 
      v-if="ifTournamentModalOpened"
      @close-modal="ifTournamentModalOpened = !ifTournamentModalOpened"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TournamentsModuleStoreFacade from '@/modules/tournamentModule/store/tournamentsStoreFacade';
import { TournamentsList, Tournament } from '@/modules/tournamentModule/models/tournaments-model';
import TournamentsListHeaderComponent from '@/modules/tournamentModule/components/tournamentsList/tournamentsListHeader.component.vue';
import TournamentsListComponent from '@/modules/tournamentModule/components/tournamentsList/tournamentsList.component.vue';
import AddTournamentComponent from '@/modules/tournamentModule/components/addTournament/addtournament.component.vue';

@Component({
  components: {
    TournamentsListHeaderComponent,
    TournamentsListComponent,
    AddTournamentComponent
  }
})
export default class TournamentsComponent extends Vue {
  public ifTournamentModalOpened = false;
  public tournamentToAdd: Tournament = {
    name: "",
    dateStart: new Date(),
    dateEnd: new Date(),
    place: "",
    prizePool: undefined,
    players: []
  }

  public get tournaments(): TournamentsList {
    return TournamentsModuleStoreFacade.tournaments;
  }
}

</script>

<style lang="scss">
@import '@/styles/mixins/_button.scss';

.add_tournament_button {
  @include add-button;
}

</style>