<template>
    <tr
      @click="removePlayer"
    >
        <td>
          {{ player.name }}
        </td>
        <td>
          {{ player.rank }}
        </td>
        <td>
          {{ player.country }}
        </td>
        <td>
          {{ player.points }}
        </td>
    </tr>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { TennisPlayer } from '@/modules/playerModule/models/tennis-player-model';
import TennisPlayersModuleStoreFacade from '@/modules/playerModule/store/tennisPlayersStoreFacade';

@Component
export default class PlayersListComponent extends Vue {
  @Prop(Object) player!: TennisPlayer;

  private removePlayer() {
    TennisPlayersModuleStoreFacade.removePlayer(this.player.name);
  }
}

</script>
