<template>
  <tr>
    <th>
      Player
    </th>
    <th>
      Ranking
    </th>
    <th>
      Country
    </th>
    <th>
      Points
    </th>
  </tr>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class PlayersListHeaderComponent extends Vue {}

</script>

<style lang="scss">
@import '@/styles/_variables.scss';

  td {
    padding: 1.5rem;
  }
  th {
    padding: 1.5rem;
    background-color: $color-primary;
    color: white;
  }
  tr {
    border-radius: 1rem;
  }
  tr:hover {background-color: #f5f5f5;}
  tr:nth-child(even) {
    background-color: #f2f2f2;
    border-radius: 1rem;
  }
</style>