<template>
  <div>
    <router-view>
    <router-view></router-view>
    </router-view>
    <button 
      class="add_player_button"
      @click="ifPlayerModalOpened = !ifPlayerModalOpened"
    >
      Add player
    </button>
    <div
      class="table_container"
    >
      <table
        class="table_class"
      >
      <PlayersListHeaderComponent
        class="players_container"
      /> 
      <PlayersListComponent
        v-for="player in players"
        :key="player.id"
        :player="player"
        class="players_list"
      />
      </table>
    </div>
    <AddPlayerComponent 
      v-if="ifPlayerModalOpened"
      @close-modal="ifPlayerModalOpened = !ifPlayerModalOpened"
    />
  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';
import TennisPlayersModuleStoreFacade from '@/modules/playerModule/store/tennisPlayersStoreFacade';
import { TennisPlayersList } from '@/modules/playerModule/models/tennis-player-model';
import AddPlayerComponent from '@/modules/playerModule/components/addPlayer/addPlayer.component.vue';
import PlayersListHeaderComponent from '@/modules/playerModule/components/playersList/playersListHeader.component.vue';
import PlayersListComponent from '@/modules/playerModule/components/playersList/playersList.component.vue';

  @Component({
    components: {
      AddPlayerComponent,
      PlayersListHeaderComponent,
      PlayersListComponent
    }
  })
  export default class PlayersComponent extends Vue {
    public ifPlayerModalOpened = false;
    @Prop(String) readonly title: string | undefined

    public get players(): TennisPlayersList {
      return TennisPlayersModuleStoreFacade.players;
    }
  }
</script>

<style lang="scss">
@import '@/styles/mixins/_button.scss';
@import '@/styles/mixins/_table.scss';

.table_container {
  display: flex;
  justify-content: center;
}

.table_class {
  @include table;
}

.add_player_button {
  @include add-button;
}
</style>