<template>
  <div
    class="header"
  >
    <router-link to="/"
      :style="{ textDecoration: 'none' }"
    >
      <div
        class="label"
      >
        Players
      </div>
    </router-link>
    <router-link to="/tournaments"
      :style="{ textDecoration: 'none' }"
    >
      <div
        class="label"
      >
        Tournaments
      </div>
    </router-link>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class HederComponent extends Vue {}
</script>

<style lang='scss'>
@import '@/styles/mixins/_header.scss';
@import '@/styles/mixins/_label.scss';

  .header {
    @include header;

    .label {
     @include label; 
    }
  }
</style>