<template>
  <div>
    <div
      class="navbar"
    >
      TennisApp
    </div>
    <header-component />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HeaderComponent from '@/modules/layoutModule/components/header.component.vue';
  
@Component({
  components: {
    HeaderComponent
  }
})
export default class NavbarComponent extends Vue {}
</script>

<style lang="scss">
@import "@/styles/mixins/_navbar.scss";
  .navbar {
    @include navbar;
  }
</style>
