<template>
  <div>
    <div 
      class="cancel-button"
      @click="closeModal()"  
    >
      Cancel
    </div>
    <div 
      class="confirm-button"
      @click="addObject()"
    >
      Confirm
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class ConfirmationButtonsComponent extends Vue {
  @Prop(Function) addObject!: void;
  @Prop(Function) closeModal!: void;
}

</script>

<style lang="scss">

</style>