<template>
  <datepicker 
    class="picker"
    :placeholder="placeholder"
    v-model="inputValue"
    @input="returnInput"
  />
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';
const datepicker = require('vue2-datepicker').default;
import 'vue2-datepicker/index.css';

@Component({
  components: {
    datepicker
  }
})
export default class DatePickerComponent extends Vue {
  private inputValue = '';

  @Prop(String) placeholder: string | undefined;

  @Emit()
  returnInput() {
    return this.inputValue;
  }
}
</script>
