<template>
  <input 
    v-model="inputName"
    :placeholder="placeholder"
    :type="type"
    class="input"
    @input="returnInput"
  />
</template>

<script lang="ts">
import { Component, Vue, Emit, Prop } from 'vue-property-decorator';

@Component
export default class InputComponent extends Vue {
  private inputName = "";

  @Prop(String) readonly placeholder: string | undefined;
  @Prop(String) readonly type: string | undefined;

  @Emit()
  returnInput() {
    return this.inputName;
  }
}
</script>
