<template>
  <tr>
    <th>
      Tournament
    </th>
    <th>
      Place
    </th>
    <th>
      Date Start
    </th>
    <th>
      DateEnd
    </th>
  </tr>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class PlayersListHeader extends Vue {}
</script>
