<template>
    <tr
      @click="removeTournament"
    >
        <td>
          {{ tournament.name }}
        </td>
        <td>
          {{ tournament.place }}
        </td>
        <td>
          {{ tournament.dateStart.toString().slice(4, 15) }}
        </td>
        <td>
          {{ tournament.dateEnd.toString().slice(4, 15) }}
        </td>
    </tr>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Tournament } from '@/modules/tournamentModule/models/tournaments-model';
import TournamentsModuleStoreFacade from '@/modules/tournamentModule/store/tournamentsStoreFacade';

@Component
export default class TournamentsListComponent extends Vue {
  @Prop(Object) tournament!: Tournament;

  private removeTournament() {
    TournamentsModuleStoreFacade.removeTournament(this.tournament.name);
  }
}
</script>
