<template>
  <div 
    :key="modalKey"
    class="modal-backdrop"
  >
    <div class="modal">
      <div class="modal-header">
        Add tournament
      </div>
        <InputComponent 
          :placeholder="'Tournament Name'"
          @return-input="assignTournamentName"
        />
        <InputComponent 
          :placeholder="'Country'"
          @return-input="assignTournamentCountry"
        />
        <div
          class="pickers_grid"
        >
          <DatepickerComponent
            :placeholder="'Start date'"
            @return-input="assignStartDate"
          />
          <DatepickerComponent 
            :placeholder="'End date'"
            @return-input="assignEndDate"
          />
        </div>
      <ConfirmationButtons 
        :addObject="addTournament"
        :closeModal="closeModal"
        class="confirmation-buttons" 
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Emit } from 'vue-property-decorator';
import TournamentsStoreFacade from '@/modules/tournamentModule/store/tournamentsStoreFacade';
import ConfirmationButtons from '@/modules/layoutModule/default/confimationButtons.component.vue';
import InputComponent from '@/modules/layoutModule/default/input.component.vue';
import DatepickerComponent from '@/modules/layoutModule/default/datepicker.component.vue';

@Component({
  components: {
    ConfirmationButtons,
    InputComponent,
    DatepickerComponent
  }
})
export default class AddPlayerComponent extends Vue {
  public tournamentToAdd = {
    name: '',
    place: '',
    dateStart: '',
    dateEnd: ''
  }
  private modalKey = 0;

  @Emit()
  closeModal() {
    this.modalKey += 1;
  }

  private addTournament() {
    TournamentsStoreFacade.addTournament(this.tournamentToAdd);
    this.closeModal();
  }

  private assignTournamentName(value) {
    this.tournamentToAdd.name = value;
  }

  private assignTournamentCountry(value) {
    this.tournamentToAdd.place = value;
  }

  private assignStartDate(value) {
    this.tournamentToAdd.dateStart = value;
  }
  
  private assignEndDate(value) {
    this.tournamentToAdd.dateEnd = value;
  }
}
</script>

<style lang="scss">
@import '@/styles/mixins/_input.scss';

  .pickers_grid {
    @include pickers;
  }
</style>