$color-primary: #339D37;
$color-secondary: #F29833;
$color-white: #ffffff;
$color-black: #000000;
$color-shadow: #D3D3D3;
$color-lightshadow: #fafafa;
$color-fadeblack: rgba(0, 0, 0, 0.4);

$font-family: 'Montserrat', sans-serif;
$font-size-m: 1.4rem;
$font-size-l: 1.8rem;
$font-weight-m: 500;
$font-weight-l: 700;

$border-default: 0.1rem solid $color-shadow;
$border-radius: 0.5rem;

$button-padding: 0.7rem 2rem 0.7rem 2rem;

$stack-order-l: 999;

$shadow-default: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.1), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.1);
$shadow-strong: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(56, 39, 39, 0.19);

$breakpoints: (
  'x-small': 390px,
  'small': 500px,
  'medium': 800px,
  'large': 1100px
) !default;
