<template>
  <div 
    :key="modalKey"
    class="modal-backdrop"
  >
    <div class="modal">
      <div class="modal-header">
        Add player
      </div>
        <InputComponent 
          :placeholder="'Player Name'"
          @return-input="assignPlayerName"
        />
        <InputComponent 
          :placeholder="'Country'"
          @return-input="assignPlayerCountry"
        />
        <InputComponent 
          :placeholder="'Current Rank'"
          :type="'number'"
          @return-input="assignPlayerRank"
        />
        <InputComponent 
          :placeholder="'Points'"
          :type="'number'"
          @return-input="assignPlayerPoints"
        />
      <ConfirmationButtons 
        :addObject="addPlayer"
        :closeModal="closeModal"
        class="confirmation-buttons" 
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Emit } from 'vue-property-decorator';
import TennisPlayersModuleStoreFacade from '../../store/tennisPlayersStoreFacade';
import ConfirmationButtons from '@/modules/layoutModule/default/confimationButtons.component.vue';
import InputComponent from '@/modules/layoutModule/default/input.component.vue';

@Component({
  components: {
    ConfirmationButtons,
    InputComponent
  }
})
export default class AddPlayerComponent extends Vue {
  public playerToAdd = {
    name: '',
    country: '',
    rank: null,
    points: null
  }
  private modalKey = 0;

  @Emit()
  closeModal() {
    this.modalKey += 1;
  }

  private addPlayer() {
    TennisPlayersModuleStoreFacade.addPlayer(this.playerToAdd);
    TennisPlayersModuleStoreFacade.loadPlayers();
    this.closeModal();
  }

  private assignPlayerName(value) {
    this.playerToAdd.name = value;
  }

  private assignPlayerCountry(value) {
    this.playerToAdd.country = value;
  }

  private assignPlayerRank(value) {
    this.playerToAdd.rank = value;
  }

  private assignPlayerPoints(value) {
    this.playerToAdd.points = value;
  }
  
}
</script>

<style lang="scss">
@import '@/styles/mixins/_modal.scss';
@import '@/styles/mixins/_input.scss';
@import '@/styles/mixins/_button.scss';

  .modal-backdrop {
    @include modal-backdrop;

    .modal {
      @include modal;

      .modal-header {
        @include modal-header;
      }

      .input {
        @include input;
      }

      .confirmation-buttons {
        @include confirmation-buttons;

        .confirm-button {
          @include confirm-button;
        }

        .cancel-button {
          @include cancel-button;
        }

        .confirm-button:hover,
        .cancel-button:hover {
          @include confirmation-buttons-hover;
        }
      }
    }
  }
</style>