<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TennisPlayersModuleStoreFacade from '@/modules/playerModule/store/tennisPlayersStoreFacade';

@Component
export default class App extends Vue {
  public title = "Tennis App";

  mounted() {
      TennisPlayersModuleStoreFacade.loadPlayers();
    }
}
</script>

<style lang="scss">
html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

#app {
  text-align: center;
}
</style>
