@import '@/styles/_variables.scss';
@import '@/styles/mixins/_mediaquery.scss';

@mixin confirmation-buttons {
  border-top: $border-default;
  padding-top: 1.5rem;
  margin-top: 2rem;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@mixin confirm-button {
  font-size: $font-size-m;
  font-weight: $font-weight-m;
  padding: $button-padding;
  margin-bottom: 0;
  cursor: pointer;
}

@mixin cancel-button {
  font-size: $font-size-m;
  font-weight: $font-weight-m;
  padding: $button-padding;
  margin-bottom: 0;
  cursor: pointer;
}

@mixin confirmation-buttons-hover {
  background-color: $color-shadow;
  border-radius: $border-radius;
  transition: all 0.2s ease-in-out;
}

@mixin add-button {
  margin-top: 2rem;
  padding: 1.5rem 3rem;
  font-size: $font-size-m;
  border: $border-default;
  border-radius: $border-radius;
  cursor: pointer;
  background-color: $color-white;
  box-shadow: $shadow-default;
  align-items: center;

  @include media-breakpoint("x-small") {
    margin-left: 5rem;
  }
}