@import '@/styles/_variables.scss';
@import '@/styles/mixins/_mediaquery.scss';

@mixin header {
  height: 6rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: $color-lightshadow;
  box-shadow: $shadow-default;

  @include media-breakpoint('x-small') {
    width: 113.5%;
  }
}