@mixin input {
  padding: 1.2rem 1rem 1.2rem 1rem;
  width: 37.2rem;
  border: 0.1rem solid lightgray;
  border-radius: 0.5rem;
  margin: 2rem 0 1rem 0.4rem;
}

@mixin picker {
  width: 18rem;
  border-radius: 0.5rem;
  margin: 1.5rem 1rem 1rem 1rem;
}

@mixin pickers {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0.3rem 0 0.5rem;
}