@import '@/styles/_variables.scss';

@mixin label {
  width: 15rem;
  border: $border-default;
  border-radius: $border-radius;
  padding: 1.2rem 0;
  cursor: pointer;
  font-size: $font-size-m;
  color: $color-black;
  box-shadow: $shadow-strong;
  background-color: $color-white;
}