@import '@/styles/_variables.scss';

@mixin media-breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint ) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
    + 'Available breakpoints are: #{map-keys($breakpoints)}.';
  }
}
