@import '../variables';

@mixin modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-fadeblack;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $stack-order-l;
}

@mixin modal {
  width: 40rem;
  background: $color-white;
  overflow-x: auto;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  color: $color-black;
  padding: 1.8rem;
  position: relative;
}

@mixin modal-header {
  font-size: $font-size-l;
  font-weight: $font-weight-m;
}