@import '@/styles/_variables.scss';
@import '@/styles/mixins/_mediaquery.scss';

@mixin navbar {
  background-color: $color-primary;
  color: $color-white;
  font-family: $font-family;
  font-size: $font-size-l;
  font-weight: $font-weight-l;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint('x-small') {
    width: 113.5%;
  }
}