@import '@/styles/_variables.scss';
@import '@/styles/mixins/_mediaquery.scss';

@mixin table {
  font-size: $font-size-m;
  width: 84%;
  margin: 5rem 9rem 0 9rem;
  border-collapse: collapse;
  box-shadow: $shadow-default;

  @include media-breakpoint("small") {
    margin: 2rem;
  }

  @include media-breakpoint("x-small") {
    margin: 2rem 0;
    clear: left;
    text-align: center;
  }
}
